PORT=3000
DATABASE_URL=postgresql://postgres.PROJECT_REF:YOUR_DATABASE_PASSWORD@POOLER_HOST:5432/postgres
PGSSL=true
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
N8N_WEBHOOK_URL=http://localhost:5678/webhook/ucam-pedido-pagado
N8N_WEBHOOK_SECRET=CAMBIA_ESTE_SECRETO_LOCAL
FRONTEND_URL=http://127.0.0.1:5173
TRACKING_LINK_SECRET=crea-aqui-un-secreto-largo-y-aleatorio
